@model ICollection<CameraListingServiceModel>

@{
    ViewData["Title"] = "All";
}

<div class="container">
    <h1>@ViewData["Title"] Cameras</h1>
    <hr />

    @await Html.PartialAsync("../Shared/_CameraListPartial", Model)

</div>