@model ICollection<UserListingServiceModel>

@{
    ViewData["Title"] = "All";
}

<table class="table">
    <tr>
        <th>Username</th>
        <th>Email</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.Email</td>
        </tr>
    }
</table>

