@model ICollection<SaleModel>

<h1>Sales with discount</h1>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Discount Percent</th>
        <th>Actions</th>
    </tr>
    @foreach (var sale in Model)
    {
        <tr>
            <td>@sale.Id</td>
            <td>@sale.Discount</td>
            <td>
                <a href="/Sales/@sale.Id">Details</a>
            </td>
        </tr>
    }
</table>
