@model ICollection<CourseListingServiceModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
        @foreach (var course in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">@course.Name</a>
                </td>
                <td>@course.StartDate.ToString("dd-MMMM-yyyy")</td>
                <td>@course.EndDate.ToString("dd-MMMM-yyyy")</td>
                @if (course.StartDate > DateTime.UtcNow)
                {
                    <td>
                        <a asp-controller="Course" asp-action="Join" class="btn-lg btn-success">Join</a>
                    </td>

                }
                else
                {
                    <td>
                        <div class="text-danger">
                            <h5>Started</h5>
                        </div>
                    </td>
                }
            </tr>
        }
    </table>
</div>